[Desktop Entry]
Name=RenameToIX
Description=Renames files and directories
Exec=renametoix
Icon=renametoix
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Utility
Keywords=rename;
StartupNotify=false
Description[pt]=Renomeia ficheiros e diretórios
Description[es]=Cambiar el nombre de archivos y directorios
Description[de]=Benennt Dateien und Verzeichnisse um
